black
bs4
chromadb
commitizen
evidently
faiss-cpu
featuretools
flake8
langchain
langchain-community
langchain-huggingface
langchain-openai
langchain-text-splitters
langchain_chroma
langsmith
lxml
numpy~=2.2.6
ollama
openpyxl
pandas~=2.3.0
plotly~=6.1.1
psutil
pyarrow
pybind11
pydantic
pypdf
python-dateutil
python-dotenv
pytz
torch~=2.2.2
PyYAML
scikit-learn
scipy
sentence-transformers
SQLAlchemy
statsmodels
tqdm
uvicorn
kaleido